:root {
    /* Screen widths */
    --mobile: 375px;
    --desktop: 1440px;
    /* COLORS */
    /* Primary colors */
    --lightRed: hsl(0, 100%, 67%);
    --orangeYellow: hsl(39, 100%, 56%);
    --greenTeal: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);
    /* Gradients */
    /* gradientBackgroundBlue: */
    --LightSlateBlue: hsl(252, 100%, 67%);
    --LightRoyalBlue: hsl(241, 81%, 54%);
    /* gradientCircleBlue */
    --VioletBlue: hsla(256, 72%, 46%, 1);
    --PersianBlue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%);

    /* font-size */
    --myFontSize: 18px;
}
// Convert to scss variables from css variables:
$Mobile: var(--mobile);
$Desktop: var(--desktop);
/* COLORS */
/* Primary colors */
$primeLightRed: var(--lightRed);
$primeOrangeYellow: var(--orangeYellow);
$primeGreenTeal: var(--greenTeal);
$primeCobaltBlue: var(--cobaltBlue);
/* Gradients */
$gradientBackgroundBlue: linear-gradient(180deg, var(--LightSlateBlue) 0%, var(--LightRoyalBlue) 100%);
$gradientCircleBlue: linear-gradient(180deg, var(--VioletBlue) 0%, var(--PersianBlue) 100%);


/* Neutral */
$neutWhite: var(--white);
$neutPaleBlue: var(--paleBlue);
$neutLightLavender: var(--lightLavender);
$neutDarkGrayBlue: var(--darkGrayBlue);
/* font size  */
$myFontSize: var(--myFontSize);

